
.img_usu{
margin-left:auto;
margin-right: auto;
display: block;
}

.img_formula{
margin-left:auto;
margin-right: auto;
display: block;
}


.img_log{
margin-left:auto;
margin-right: auto;
display: block;
}